<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3 data-translate="footer.links">Schnellzugriff</h3>
            <ul>
                <li><a href="/" data-translate="nav.home">Startseite</a></li>
                <li><a href="/resources" data-translate="nav.resources">Materialien</a></li>
                <li><a href="/contact" data-translate="nav.contact">Kontakt</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 data-translate="footer.social">Folge uns</h3>
            <div class="social-links">
                <a href="https://www.instagram.com/gaflmu/?hl=en" class="social-icon"><img src="/images/logos/instagram.png" width="25px" height="25px" alt="Instagram Logo"></a>
                <a href="https://www.linkedin.com/company/gaf---uni-münchen/about/" class="social-icon"><img src="/images/logos/linkedin.png" width="25px" height="25px" alt="LinkedIn Logo"></a>
                <a href="https://mastodon.social/@gaflmu" class="social-icon"><img src="/images/logos/mastodon.png" width="25px" height="25px" alt="Mastodon Logo"></a>
                <a href="https://www.facebook.com/gaflmu/" class="social-icon"><img src="/images/logos/facebook.png" width="25px" height="25px" alt="FaceBook Logo"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p data-translate="footer.copyright">© 2023 GAF - Alle Rechte vorbehalten</p>
            <ul>
                <li><a href="/privacy" data-translate="footer.privacy">Datenschutz</a></li>
                <li><a href="/imprint" data-translate="footer.imprint">Impressum</a></li>
            </ul>
        </div>
    </div>
</footer>