<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3 data-translate="footer.links">Quick Links</h3>
            <ul>
                <li><a href="/" data-translate="nav.home">Home</a></li>
                <li><a href="/resources" data-translate="nav.resources">Resources</a></li>
                <li><a href="/contact" data-translate="nav.contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 data-translate="footer.social">Follow Us</h3>
            <div class="social-links">
                <a href="https://www.instagram.com/gaflmu/?hl=en" class="social-icon"><img src="/images/logos/instagram.png" width="25px" height="25px" alt="Instagram Logo"></a>
                <a href="https://www.linkedin.com/company/gaf---uni-münchen/about/" class="social-icon"><img src="/images/logos/linkedin.png" width="25px" height="25px" alt="LinkedIn Logo"></a>
                <a href="https://mastodon.social/@gaflmu" class="social-icon"><img src="/images/logos/mastodon.png" width="25px" height="25px" alt="Mastodon Logo"></a>
                <a href="https://www.facebook.com/gaflmu/" class="social-icon"><img src="/images/logos/facebook.png" width="25px" height="25px" alt="FaceBook Logo"></a>
                    <!-- Font Awesome Icons on hold bc no mastodon icon -->
<!--                <a href="https://www.instagram.com/gaflmu/?hl=en" class="social-icon"><i class="fa fa-instagram fa-2x"></i></a>-->
<!--                <a href="https://www.linkedin.com/company/gaf-&#45;&#45;uni-münchen/about/" class="social-icon"><i class="fa fa-linkedin fa-2x"></i></a>-->
<!--                <a href="https://mastodon.social/@gaflmu" class="social-icon"><i class="fa fa-mastodon fa-2x"></i></a>-->
<!--                <a href="https://www.facebook.com/gaflmu/" class="social-icon"><i class="fa fa-facebook fa-2x"></i></a>-->
            </div>
        </div>
        <div class="footer-bottom">
            <p data-translate="footer.copyright">© 2023 GAF - All rights reserved</p>
            <ul>
                <li><a href="/privacy" data-translate="footer.privacy">Privacy Policy</a></li>
                <li><a href="/imprint" data-translate="footer.imprint">Imprint</a></li>
            </ul>
        </div>
    </div>
</footer>